{% extends 'base.html' %}
{% block title %}
    Финансовые инструменты
{% endblock %}

{% block content %}
  <h1>Финансовые инструменты</h1>
  {% for symbol_info in symbol_infos %}
    <article>
      <p>{{ symbol_info.name }}</p>
      <ul>
        <li>
          Рынок:
          <a href="{% url 'markets:market' symbol_info.market.name %}">
            {{ symbol_info.market.name }}
          </a>
        </li>
        <li>Лот: {{ symbol_info.lot_size }}</li>
      </ul>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock %}